<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img class="navbar-logo" src="../../assets/images/pgniuLogo.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [class.active]="_router.url.indexOf('apstat')!==-1">
        <a class="nav-link" href="/apstat">Точки доступа</a>
      </li>
      <li class="nav-item" [class.active]="_router.url.indexOf('clients')!==-1">
        <a class="nav-link" href="/clients">Клиенты</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle disabled" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Список
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/buildings">Карта покрытия WI-FI</a>
      </li>
    </ul>
    <form #searchform="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="search(searchform)">
      <input class="form-control mr-sm-2" type="search" name="search" placeholder="Поиск.." aria-label="Поиск">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
    </form>
  </div>
  <div class="logout" *ngIf="authService.user | async">
    <h6>{{(authService.user | async)?.email.split('@')[0]}}</h6>
    <button class="btn btn btn-primary my-2 my-sm-0" (click)="logout()"><i class="fas fa-sign-out-alt"></i>
      Выйти
    </button>
  </div>
</nav>
