<h2>Точка доступа {{apName}}
  <button type="button" class="btn btn-primary refresh-btn" (click)="refreshAllData()">
    <span class="fa fa-refresh"></span> Обновить
  </button>
</h2>
<ul *ngIf="apClients !== undefined" class="threeColul">
  <li *ngFor="let prop of apProperties">
    {{prop}}:{{ap[prop]}}
  </li>
</ul>
<h4>Radio</h4>
<h5>2.4 Ггц</h5>
<ul *ngIf="radio !== undefined" class="threeColul">
  <li *ngFor="let prop of radio_keys">
    {{prop}}:{{radio[prop][0]}}
  </li>
</ul>
<h5>5 Ггц</h5>
<ul *ngIf="radio !== undefined" class="threeColul">
  <li *ngFor="let prop of radio_keys">
    {{prop}}:{{radio[prop][1]}}
  </li>
</ul>
<h4>Клиенты</h4>
<angular2-multiselect
  [data]="client_properties"
  [(ngModel)]="visible_properties"
  [settings]="dropdownSettings"
  (onSelect)="refreshTableColumns()"
  (onDeSelect)="refreshTableColumns()"
  (onSelectAll)="refreshTableColumns()"
  (onDeSelectAll)="refreshTableColumns()">
</angular2-multiselect>
<select [(ngModel)]="perPage" (change)="refreshTablePerPage()" class="form-control">
  <option *ngFor="let pager of perPageArray" [ngValue]="pager.value">{{pager.name}}</option>
</select>
<ng2-smart-table [settings]="settings" [source]="apClients" (userRowSelect)="onClientSelect($event)"></ng2-smart-table>
<ng-progress #progressBar></ng-progress>
<div class="form-group">
  <label for="logs"><h5>Логи точки доступа</h5></label>
  <textarea class="form-control" id="logs" rows="10">{{logs}}</textarea>
</div>
