<h2>Клиент {{clientMac}}
  <button type="button" class="btn btn-danger refresh-btn" (click)="offClient()">
    <span class="fa fa fa-remove"></span> Отключить
  </button>
  <button type="button" class="btn btn-primary refresh-btn" (click)="refreshAllData()">
    <span class="fa fa-refresh"></span> Обновить
  </button>
</h2>
<ul *ngIf="client !== undefined">
  <li *ngFor="let prop of clientProperties">
    {{prop}}:{{client[prop]}}
  </li>
</ul>
<br>
<br>
<label for="Ap"><h5>Точка доступа клиента</h5></label>
<angular2-multiselect
  [data]="ap_properties"
  [(ngModel)]="visible_properties"
  [settings]="dropdownSettings"
  (onSelect)="refreshTableColumns()"
  (onDeSelect)="refreshTableColumns()"
  (onSelectAll)="refreshTableColumns()"
  (onDeSelectAll)="refreshTableColumns()">
</angular2-multiselect>
<ng2-smart-table id="Ap" [settings]="settings" [source]="source" (userRowSelect)="onApSelect($event)"></ng2-smart-table>
<br>
<br>
<ng-progress #progressBar></ng-progress>
<div class="form-group">
  <label for="logs"><h5>Логи клиента</h5></label>
  <textarea class="form-control" id="logs" rows="10">{{logs}}</textarea>
</div>
