/* You can add global styles to this file, and also import other style files */
@import './assets/font-awesome/fontawesome.min.css';
.refresh-btn{
  float: right;
  margin-top: 10px;
}
select.form-control {
  width: 75px;
  float: right;
  position: relative;
  top: -55px;
  right: 75px;
}
